<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jolo's Blog{% block title %}{% endblock %}</title>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-lumen.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">

    {% block script %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Jolo's Portfolio</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class='nav navbar-nav'>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/about/">About</a></li>
                    <!--<li><a href="#">Contact</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="glyphicon glyphicon-chevron-down"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="http://blproduction.herokuapp.com/blist/"><span class="glyphicon glyphicon-list-alt"></span> Bucket List</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            
           
            </div>
        </div>
    </nav>

    <div class='container'>
        <div class='row'>
            <div class='col-xs-3'>
            </div>
            <div class='col-xs-9'>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
